<html>
<head>
	<title>Factory Employee Details</title>
	<link rel="stylesheet" href="employees.css">
</head>
<body>
	<div id="title-container">
		<h1>Employee Details</h1>
	</div>
	<table width=100%>
		<thead>
			<tr>
				<td>Employee Id</td>
				<td>Name</td>
				<td>Position</td>
				<td>Salary</td>
				<td>Phone Number</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>001</td>
				<td>Yuvraj Singh</td>
				<td>Senior Manager</td>
				<td>50000</td>
				<td>9011029205</td>
			</tr>
			<tr>
				<td>002</td>
				<td>Abhisekh G</td>
				<td>General Manager</td>
				<td>450000</td>
				<td>9845763030</td>
			</tr>
			<tr>
				<td>003</td>
				<td>Bala</td>
				<td>Developer</td>
				<td>48000</td>
				<td>994511510</td>
			</tr><tr>
				<td>004</td>
				<td>Daksh Malik</td>
				<td>Factory Worker</td>
				<td>10000</td>
				<td>8805763030</td>
			</tr><tr>
				<td>005</td>
				<td>Dhruv Arora</td>
				<td>Janitor</td>
				<td>5000</td>
				<td>98765675709</td>
			</tr>
			<tr>
				<td>006</td>
				<td>Vaibahv Jain</td>
				<td>On-Site Nurse</td>
				<td>5000</td>
				<td>98765675709</td>
			</tr>
			<tr>
				<td>007</td>
				<td>Indiana Jones</td>
				<td>Explorer</td>
				<td>60000</td>
				<td>9850904904</td>
			</tr>
			<tr>
				<td>008</td>
				<td>Rohan Ashra</td>
				<td>Junior Developer</td>
				<td>30000</td>
				<td>9818456032</td>
			</tr>
		</tbody>
	</table>
</body>
</html>